*{
	padding:0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header,  aside {display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;	
}

input,button, textarea {font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5.h6{font-size: inherit; font-weight: 400;}


body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 18.75px;color: #000;
}
main{
	padding-bottom: 70px;
}
.container{
	max-width: 1460px;
	width: 100%;
	margin: 0 auto;
	padding: 0 151px;
} 
.title{
	font-size: 40px;
	line-height: 46.88px;
	font-weight: 400;
	text-align: center;
	
} 
.header__title{
	text-align: left;
	margin-bottom: 40px;
}
.contacts__title{
	text-align: left;
	margin-bottom: 20px;
}
.services__title, .team__title, .questions__title{
	margin-bottom: 75px;
}
.button{
	background: #B5CA00;border-radius: 4px;padding: 13px 90px;
	color: #fff;
	font-weight: 700;line-height: 21.09px;
	display: inline-block;
}
.button-cnt{
	padding: 13px 20px;
}
.section-photo{
	background: url("../dinara/img/header-photo.png" ) right no-repeat ;
	height: 532px;margin-bottom: 53px;
}
.section-color{
	background:  #8664C6;
}
/* HEADER */
.header__item {
	/* display: flex;
	flex-wrap: wrap; */
	margin-bottom: 53px;
}
.header__content{
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.header__subtitle {
	font-size: 20px;
	font-weight: 700;
	color: #B5CA00;
	line-height: 23.44px;
	padding-top: 164px;
	margin-bottom: 25px;
}
/* CARD */
.card{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
} 
.card__item {
	width: 20%;
	margin-bottom: 90px;
}
.card__item-team{
	
	width: 25%;
	
}
.card__item:last-child{
	padding-right: 30px;
}
.card__item-team:last-child{
	padding-right: 100px;
}
.card__logo {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	align-items: center;
	max-width: 100px;
	width: 100%;
	max-height: 95px;
}
.card__subtitle{
	font-size: 23px;font-weight: 400;line-height: 26.95px;margin-bottom: 10px;
} 
.card__subtitle-noborder{
	margin-bottom: 20px;
}
.card__subtitle-border::after{
	content: '';
	display: block;
	width: 94px;
	height: 2px;
	background: #F6C6CF;
	margin: 10px 0 ;
}
.card__num{
	background: #AAD4C8;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-bottom: 35px;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	position: relative;
}
.card__num span{
	position: absolute;
	top: 20px;
	left: 23px;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}
/* CONTACTS */
.contacts {
	padding-top: 90px;
}
.contacts__inner{
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}
.contacts__item{
	width: 20%;
	text-align: center;
}
.contacts__logo{
	vertical-align: middle;
}
.contacts__form{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
}
.contacts__label{
	width: 50%;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	padding: 0 50px;
	min-width: 360px;
}
.contact__input{
	width: 360px;
	height: 50px;
	border-radius: 10px;
	width: 100%;
	margin-top: 10px;
	color: #C5BEBE;
	padding-left: 8px;
}
.contacts__label-button{
	    width: 100%;
    text-align: end;
	padding-top: 60px;
}
/* Questions */
.questions{
	padding-bottom: 70px;
}
.questions__item{
	margin-bottom: 35px;
} 
.questions__item:last-child{
	margin-bottom: 0;
}
.questions__subtitle{
	font-size: 23px;
	font-weight: 400;
	line-height: 26.95px;
	margin-bottom: 10px;
} 
.questions__text{
	font-weight: 400;
} 
.questions__button{
	text-align: center;
	
}

@media (max-width: 1250px){
	.container{
	padding: 0 100px;
} 
	.card__item {
	width: 50%;
	padding: 0 15px 55px ;
	text-align: center;
}
.card__item:last-child{
	padding-right: 0;
}
.card__subtitle-border::after{
	margin: 10px auto;
}
.card__item-team{
	width: 100%;
}
.card__num {
    margin: 0 auto 35px;
}
.contacts__item {
	display: none;
}
.contacts__form {
    margin: 0 auto;
}
.contacts__label{
	margin-bottom: 20px;
	padding: 0 30px;
}
.contacts__title {
    text-align: center;
}
.contacts__label-button{
	padding-top: 60px;
	padding-bottom: 40px;
}
}
@media (max-width: 1100px){
.contacts__label{
	width: 100%;
	margin: 0 auto 20px;
}
}
    
@media (max-width: 990px){
.card__item {
	width: 100%;
	}
.card__subtitle {
    font-size: 30px}
.card__text{
	font-size: 24px;
	line-height: 44px;
	}
.contacts__label{
	width: 100%;
	}
}
