 *{
	padding:0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}
img{
	max-width: 100%;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header,  aside {display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 16px;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;	
}

input,button, textarea {font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5.h6{font-size: inherit; font-weight: 400;}

body{
	font-family: var(--font-family-base);
    font-size: var(--font-size-m);
    background-color: var(--background-color);
    color: var(--text-color);
	font-weight: var(--font-weight); 
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.title{
	font-weight: 500;
	font-size: 58px;
	line-height: 69.6px;
	text-align: center;
}
.subtitle {
	font-size: 22px;
	line-height: 28.6px;
	font-weight: 500;
} 

/* HEADER */

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 58px;
}
.header__icon{
	margin-right: 10px;
	
}
.header{
	padding-top: 40px;
	background: #FDFDFD;
}
.header__breadcrumb{
	margin-bottom: 60px;
}

/* NAV */

.nav__link{
	display: inline-block;
	color: #353A5A;
	margin: 0 20px;
	font-weight: 500;
}
.nav__link:after{
    content: '';
	display: block;
    border-bottom: 2px dashed #FA9F42;
    transition: opacity .1s linear;
    padding-top: 8px;
	opacity: 0;
}

.nav__link:hover:after {
    opacity: 1;
}


/* LIST */

.list{
	display: flex;
	justify-content: space-between;
	width: 25%;
	font-size: 14px;
}
.list__atem-active{
	color:rgba(53, 58, 90, .5);
}
 
/* SECTION */
.section{
	padding: 120px 0;
	
}
.section__theme-green{
	background: #10B582;
	color:#FDFDFD;
}

.section__title{
	margin-bottom: 60px;
} 
.section__bg{
	 background: url("../e-mentor/img/banner-1.png") no-repeat center ; 
	
	 background-color:  rgba(248, 248, 249, 1); 
	background-position: left;
	height: 578px;
}

.section__bg-3{
	background: url('../e-mentor/img/banner-3.jpg') no-repeat center;
	 background-color:  rgba(246, 245, 244, 1); 
	background-position: left;
	height: 578px;;
}




/* ARTICLE */
.article__title{
	text-align: left;
}

.article__img {
	
	max-width: 100%;
	display: block;
	height: auto;
	padding: 40px 0;
}

.article__subtitle{
	width: 75%;
	margin-bottom: 25px;
} 

.article__text {
	width: 69%;
}
.article__text p{
	margin-bottom: 15px;
	line-height: 24px;
}
.article__text p:last-child{
	margin-bottom: 0;
}

/* statistics */



.statistics__inner {
	padding: 80px 0 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.statistics__inner-no-padding{
	padding-bottom: 0;
}
.statistics__item {
	text-align: center;
	width: 23%;
}

.statistics__count{
	color: #10B582;
	font-size: 58px;
	font-weight: 500;
	line-height: 100%;
	margin-bottom: 15px;
	
} 

.statistics__text {
	font-size: 14px;
	
	line-height: 120%;
}

/* BANNER */
.banner {
	display: flex;
	align-items: center;
}
.banner__item {
	width: 50%;
}
.banner__inner{
	border: 1px dashed rgba(253, 253, 253, 1);border-top-left-radius: 120px;
}
.banner__inner--right{
	border: 1px dashed rgba(253, 253, 253, 1);
	border-top-right-radius: 120px;
	margin-right: 100px;
}
.banner__img{
	width: 100%;
	border-top-left-radius: 120px;
	transition: transform .2s linear;
}
.banner__img--right{
	border-top-right-radius: 120px;
	width: 100%;
	transition: transform .2s linear;

}
.banner__inner:hover .banner__img {
	transform: translate3d(50px, 50px, 0);
}
.banner__inner--right:hover .banner__img--right{
	transform: translate3d(-50px, 50px, 0);
}

.banner__title{
	margin-bottom: 20px;
	text-align: left;
} 

.banner__text{
	line-height: 24px;
	width: 80%;
	padding-bottom: 50px;
}


/* BUTTON */

.btn {
	display: block;
    height: 56px;
    line-height: 56px;
    width: 230px;;
    background-color: #10B582;
    color: #FDFDFD;
    text-align: center;
	border-radius: 0px 20px;
	margin: 0 auto;
	
}
.btn__theme-orange{
	display: inline-block;
	background-color: #FA9F42;border-radius: 0px 20px;
}
.btn__theme-left{
	margin: 0 0;
}

/* CARDS */

.cards{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 60px;
}
.cards__item{
	width: 23%;
	background: #FDFDFD;
	box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);border-radius: 10px;
	padding: 25px 15px;
	position: relative;
}
.cards__icon{
	position: absolute;
	top: 23px;
	left: 15px;
	z-index: 1;
	margin: right 10px;;

}
.cards__img{
	padding-bottom: 15px;
}

.cards__title{
	font-weight: 500;
	
	
}
.cards__title-with-icon{
margin-bottom: 15px;
margin-left: 25px;
}


.cards__text{
	font-size: 14px;
	line-height: 18.2px;
}

/* ACCORDION */
.accordion {
	
	padding-bottom: 60px;
}
.accordion__wrapper{
width: 830px;
	margin: 0 auto;
}

.accordion__item {
	background: #FDFDFD;
box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
border-radius: 10px;
margin-bottom: 30px;
padding: 30px;

position: relative;
}
.accordion__item:last-child{
	margin-bottom: 0;
}


.accordion__content {
	padding-top: 15px;
	line-height: 20.8px;
	display: none;
}

.accordion__content-is-visible{
	display: block;
}

.button {
	position: absolute;
	top: auto;
    right: 28px;
    z-index: 1;
	width: 33px;
	height: 33px;
	border: 1px dashed #10B582;
	border-radius: 50%;
	background: #FDFDFD;
}

.button__icon {
	vertical-align:middle ;
}

/* FOOTER */

.footer{
	padding: 0 0 80px;
	background:  #FDFDFD;
	
	border-bottom: 1px solid rgba(53, 58, 90, .1);;
}
.footer__with-padding{
	padding-top: 120px;
}
.footer::before{
	content: "";
	border-top: 1px solid rgba(53, 58, 90, .1);
	display: block;
	margin-bottom: 80px;

}
.footer__list{
	display: block;
	width: 100%;

}
.footer__inner {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
}

.footer__col{
	padding: 0 15px;
	font-size: 14px;
	line-height: 18.2px;
} 
	
.footer__icon{
	margin-right: 12px;
	padding-bottom: 27px;
} 
.footer__icon:last-child{
	margin-right: 0;
}

.footer__text{
	padding-bottom: 47px;
}
 

.footer__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	padding-bottom: 27px;

}
.footer__col--first {
 padding-right: 85px;
    width: 35%
}
.footer__col--second {
	width: 20%;
}

.footer__col--thrid {
	width: 20%;
}

.footer__col--fourth {
	width: 20%;
}

.footer__col--fifth {
	width: 20%;
}
.footer__text a{
	color:rgba(53, 58, 90, 1);
}

.list__item-footer{
	padding-bottom: 20px;
	font-size: 16px;
	line-height: 16px;
	
}
.list__item-footer a{
	color:rgba(53, 58, 90, 1);
}

/* COPYRIGHT */

.copyright {
    padding: 20px 0;
    
    font-size: 14px;
    line-height: 14px;

	display: flex;
	justify-content: space-between;
}
.copyright__text{
	padding: 0 15px;
}

/* TEAM */

.team{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.team__item{
	width: 33.333%;
	padding: 15px 15px;
	text-align: center;
} 

.team__photo {
	margin-bottom: 15px;
}

.team__prof {
	font-size: 14px;
	line-height: 18.2px;
}

/* SOCIAL */


.social__links-item{
	display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 18px;
    color: #353A5A;
	opacity: 0.3;
} 

.social__links-direction-vertical {
    display: flex;
    flex-direction: column;
}
.social__links-direction-vertical
.social__links-item{
    margin-right: 0;
    margin-bottom: 30px;
	color:#FDFDFD;
	opacity: 1;
}
.social__links-direction-vertical
.social__links-item:last-child {
    margin-bottom: 0;
}
/* EM-HERO */

.em__hero {
    background-color: var(--green);
    color:#FDFDFD;

    height: 100vh;
	
}

.em__hero--container {
	display: flex;
    flex-direction: column;

    height: 100vh;
	padding-bottom: 120px;

}
.em-hero__header {
    padding-top: 40px;
    padding-bottom: 64px;

    display: flex;
    justify-content: center;
	font-weight: 500;
}


.em-navigation__link {
    display: inline-block;
    margin-right: 40px;
    color: inherit;
    text-decoration: none;

    padding-bottom: 7px;
    border-bottom: 2px dashed transparent;
}

.em-navigation__link:hover {
    border-bottom-color: var(--orange);
}

.em-navigation__link:last-child {
    margin-right: 0;
}

.em__hero-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.em__hero-social {
    position: absolute;
    top: 0;
    left: 0;
}



.em__hero-bg-content{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.em__hero-bg-item{
	position: absolute;
}
.em__hero-bg-item img{
	display: block;
	position: relative;
}
.em__hero-bg-item:before {
    content: '';
    border: 1px dashed #fff;
    position: absolute;

    width: 100%;
    height: 100%;
}

.em__hero-bg-item-position-top-right {
    top: 0;
    right: 0;
    border-top-left-radius: 120px;
}

.em__hero-bg-item-position-top-right:before {
    left: -30px;
    top: -30px;
	border-top-left-radius: 120px;
}

.em__hero-bg-item-position-top-right img {
    border-top-left-radius: 120px;
}

.em__hero-bg-item-position-top-left{
    bottom: 0;
    left: 0;
    border-top-right-radius: 120px;
}

.em__hero-bg-item-position-top-left:before {
    top: -30px;
    right: -30px;
	border-top-right-radius: 120px;
	
}

.em__hero-bg-item-position-top-left img {
    border-top-right-radius: 120px;
}

.em__intro{
	width: 100%;
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}
.em__intro-logo{
	margin-bottom: 40px;
}
.em__intro-title{
	margin-bottom: 20px;
}
.em__intro-text{
	margin-bottom: 70px;
	line-height: 24px;
}

.em__hero-scroll-button{
	position: absolute;
	bottom: 0;
	right: 0;
}
